* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;

    /*font-family: 'Oswald', sans-serif;*/
}
p{
    display: block;
    text-align: center;
}
.row {
    display: flex;
    width: 80vw;
    
}
.container {

    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #2a3d66;
    width: 100vw;
    height: 100vh;
}

.text-white {
    color: white;
    text-align: center;
}
.text-white>h5 {
    padding-bottom: 10px;
}
.text-white>h2 {
    padding: 20px;

}
.card {
    /* display:grid;
    grid-template-columns: 300px;
    grid-template-rows: 80px 80px 80px; */
    height: 160px;
    border-radius: 18px;
    box-shadow: 5px 5px 15px;
    text-align: center;
    align-items: center;

}
.bg-profile {
    background-color: #d789d7;
    
}
.bg-interests{
    background-color: #9d65c9;
}

.bg-learn{
    background-color: #5d54a4;
}

.bg-expectetions {
    background-color: #595b83;
}